
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.app-wrapper {
  display: grid;
  grid-template-columns: 10% 2fr 9fr 10%;
  grid-template-areas:  "h h h h"
  ". n c ."
  ". . . .";
  grid-gap: 30px; /*растояние между колонками*/
  /*шаблон сетки с блоками*/ /*первая сторока две колонки h h */
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  top: 0;
  left: 0;
  background-image: url("Components/img/back2.jpg");
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.app-wrapper-content {
  grid-area: c;
}


@media (max-width: 950px) {
  .app-wrapper {
    grid-template-columns: 1% 2fr 9fr 1%;
    background-size: cover;
    width: 950px;
    background-attachment: fixed;
    background-position: center;
    }
}

@media (max-width: 850px) {
  .app-wrapper {
    grid-template-columns: 1% 2fr 9fr 1%;
    background-size: cover;
    width: 850px;
    background-attachment: fixed;
    background-position: center;
      }
}


@media (max-width: 750px) {
  .app-wrapper {
    grid-template-columns: 1% 2fr 9fr 1%;
    background-size: cover;
    width: 850px;
    background-attachment: fixed;
    background-position: center;
    }
}

@media (max-width: 650px) {
  .app-wrapper {
    grid-template-columns: 1% 2fr 9fr 1%;
    background-size: cover;
    width: 850px;
    background-attachment: fixed;
    background-position: center;
    }
}

@media (max-width: 550px) {
  .app-wrapper {
    grid-template-columns: 1% 2fr 9fr 1%;
    background-size: cover;
    width: 650px;
    background-attachment: fixed;
    background-position: center;
      }
}

@media (max-width: 450px) {
  .app-wrapper {
    grid-template-columns: 1% 2fr 9fr 1%;
    background-size: cover;
    width: 550px;
    background-attachment: fixed;
    background-position: center;
  }
}

@media (max-width: 350px) {
  .app-wrapper {
    grid-template-columns: 1% 2fr 9fr 1%;
    background-size: cover;
    width: 550px;
    background-attachment: fixed;
    background-position: right;
      }
}

@media (max-width: 250px) {
  .app-wrapper {
    grid-template-columns: 1% 2fr 9fr 1%;
    background-size: cover;
    width: 550px;
    background-attachment: fixed;
    background-position: left;
      }
}
