.dialogs {
    grid-area: c;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 2fr 10fr;
    grid-column-gap: 10px;
}

.dialogsItems {
    border-radius: 10px;
    box-shadow: 0 0 50px -5px black;
    padding: 5px;
}

.messages {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px -1px black;
    padding: 5px 20px;
}

.message {
    height: 100%;
}


.addmessage {
    margin-top: 10px;
    padding: 5px;
    box-shadow: 0 0 10px -1px black;
    border-radius: 5px;
}

.inputMessage {
    border-radius: 5px;
    width: 98%;
    resize: none;
    outline: none;
    border: none;
    overflow-y: scroll;
}

.button {
    box-shadow: 2px 3px 26px -3px black;
    background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
    background-color:#ededed;
    border-radius:20px;
    display:inline-block;
    cursor:pointer;
    color:black;
    border:1px solid #ffffff;
    font-weight:bold;
    font-size:14px;
    padding:1px 20px;
    text-decoration:none;
}

.button:hover {
    background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
    background-color:#bab1ba;
}

.button:active {
    position:relative;
    top:1px;
    outline: none;
}

.button:focus {
    outline: none;
}
