.item {
    box-shadow: 0 0 15px -5px black;
    color: white;
    padding: 5px;
    border-radius: 10px;
    margin: 5px;
}

.posts {
    display: flex;
    color: white;
    align-items: center;
}

.itemimg {
    align-items: flex-start;
    width: 55px;
    height: 55px;
    border-radius: 50%;
}

.posttext {
    width: 100%;
    word-wrap: break-word;
    padding-left: 5px;
    justify-content: center;
    align-items: center;

}

.postlike {
    font-size: 10px;
    width: 6%;
    text-align: right;
    float: right;
    padding-top: 30px;
}
